.app-wrapper{
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header{
  grid-area: h;
  background-color: darkcyan;
}

.header img {
  width: 80px;
}
.nav{
  grid-area: n;
  background-color: hsl(144, 3%, 37%);
}

.content{
  grid-area: c;
  background-color: rgb(202, 167, 116);
}